#asset-table .ReactTable .rt-tbody .rt-tr-group {
  font-size: 14px; }

#asset-table .dollar-value {
  justify-content: flex-end; }

#asset-table .ReactTable .rt-tbody .rt-td {
  justify-content: flex-end;
  display: flex;
  align-items: center; }

#asset-table .asset-info {
  display: flex;
  align-items: center;
  justify-content: flex-start !important; }
  #asset-table .asset-info .asset-icon {
    padding-right: 12px;
    height: 20px; }
  #asset-table .asset-info .asset-name {
    font-weight: 700; }
