#portfolio-overview {
    position: relative;

    #portfolio-container {
        opacity: 0.45;
        flex-direction: column;
        height: 100%;

        #portfolio-total {
            font-size: 36px;
            font-weight: 500;
            letter-spacing: -0.29px;
            line-height: 42px;
            margin: 0;
            margin-bottom: 4px;
        }

        #portfolio-change {
            display: flex;
            //margin-bottom: 12px;

            #portfolio-time {
                padding-left: 6px;
                color: #cbcbcd;
            }
        }

        .portfolio-bottom {
            height: 100%;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
        }

        .movers-title {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 12px;
            padding-top: 1rem;
        }

        #portfolio-value {
            border-bottom: 1px solid #cdcdcd;
            height: auto;
        }

        #portfolio-movers {
            display: flex;
            flex-direction: column;

            .mover-cards {
                display: flex;
            }

        }

    }
}
